body {
    height: 100vh;
    margin: 0;
    background-image: url("fond.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    width: 50%;
}